*{
    margin: 0%;
    padding: 0%;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 9%, rgba(121,9,50,1) 58%, rgba(0,212,255,1) 100%);
}

.containerh{
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 5px;
}
.header{
    display: flex;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    margin: 5px 5px 0px 5px;
    width: 700px;
    height: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.208);
}

.hn{
    display: flex;  
    border: 2x solid red;
    font-size: 40px;
    padding: 5px;
    color: white;
}   

.container{
    display: flex;
    position: relative;
    height: 100vh;
    margin-top: 40px;
    justify-content: center;
}


.efeitoa{
    display: flex;
    position: relative;
    border: 3px solid rgb(134, 127, 127);
    width: 450px;
    height: 500px;
    margin-top: 20px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.813);
    box-shadow: 6px 9px 6px 0.9px;
}

.efeitob{
    display: flex;
    position: relative;
    border: 3px solid rgb(134, 127, 127);
    width: 600px;
    height: 500px;
    margin-top: 10px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.302);
    margin-right: 30px;
    justify-content: center;
    box-shadow: 4px 5px 6px 0.4px;
}

.conteudo{
    display: flex;
    position: relative;
    width: 400px;
    height: 490px;
    border-radius: 40px;
    margin-top: 3px;
    text-align: center;
    align-items: center;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.77);

}
